<div class="row" ng-hide="budget._id">
  <div class="col-md-6">
      <h2>Create new budget</h2>
  </div>
</div>
<div class="container">
  <div>
    <label>Category</label>
    <input id="name" class="form-control" type="text" ng-model="budget.category" required>
    </p>
    <p>
      <label>Amount</label>
      <input id="name" class="form-control" type="number" ng-model="budget.amount" required>
    </p>
    <p>
      <label>Remaining</label>
      <input id="name" class="form-control" type="number" ng-model="budget.remaining" required>
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveBudget(budget)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>