<div class = "row">
  <div class="col-md-6">
    <h2>
      {{ budget.category }}
    </h2>
  </div>
  <div class="col-md-3">
</div>
  <div class="col-md-2">
    <a href="#/budgets"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteBudget(budget._id)">Delete budget</button></a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="budget.category">Category:{{ budget.category }}</p>
    <p ng-if="budget.amount">Amount: {{ budget.amount }}</p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit budget</button>
      <a style="margin-top:20px" class="btn btn-default" href="#/budgets">Back</a>
    </p>
  </div>
</div>

<div ng-include="budgetFormUrl">
</div>