<div class = "row">
    <div class="col-md-12">
        <h2>
            Budgets
        </h2>
    </div>

    <div class="col-md-12">
        <a style="margin-top:20px" class="btn btn-default" href="#/new/budget">New budget</a>
    </div>

    <div class="col-md-12">
        <div class="expenses-container">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>Category</th>
                        <th>Total</th>
                        <th>Remaining</th>
                    </tr>
                <tr ng-repeat="budget in budgets | orderBy:'category'">
                    <td>
                        <a ng-href="#/budget/{{budget._id}}">{{budget.category}}</a>
                    </td>
                    <td>
                        <span ng-href="#/budget/{{budget._id}}">£{{budget.amount}}</span>
                    </td>
                    <td>
                        <span ng-href="#/budget/{{budget._id}}">£{{budget.remaining.toFixed(2)}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>