<div class = "row">
  <div class="col-md-6">
    <h2>
      {{ expense.description }}
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a href="#/"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteExpense(expense._id)">Delete expense</button></a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="expense.amount">Amount: {{ expense.amount }}</p>
    <p ng-if="expense.category">Category:{{ expense.category }}</p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit expense</button>
      <a style="margin-top:20px" class="btn btn-default" href="#/">Back</a>
    </p>
  </div>
</div>
<!-- Expense form -->
<div ng-include="expenseFormUrl">
</div>