<div class="row" ng-hide="expense._id">
  <div class="col-md-6">
      <h2>Create new expense</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Description</label>
      <input id="name" class="form-control" type="text" ng-model="expense.description" required>
    </p>
    <p>
      <label>Category</label>
      <select id="name" class="form-control" type="text" ng-model="expense.category" required>
        <option value="Groceries">Groceries</option>
        <option value="Bertie">Bertie</option>
        <option value="Petrol">Petrol</option>
        <option value="Pocket money - James">Pocket money - James</option>
        <option value="Pocket money - Sarah">Pocket money - Sarah</option>
        <option value="Entertainment">Entertainment</option>
        <option value="Savings">Savings</option>
        <option value="Cats">Cats</option>
        <option value="Miscellaneous">Miscellaneous</option>
      </select>
    </p>
    <p>
      <label>Amount</label>
      <input id="name" class="form-control" type="number" ng-model="expense.amount" required>
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveExpense(expense)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>