<div class = "row">
  <div class="col-md-12">
    <h2>
      Expenses
    </h2>
  </div>

  <div class="col-md-12">
    <a style="margin-top:20px" class="btn btn-default" href="#/new/expense">New expense</a>
  </div>

  <div class="col-md-12">
    <div class="expenses-container">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th>Description</th>
            <th>Category</th>
            <th>Amount</th>
          </tr>
          <tr ng-repeat="expense in expenses | orderBy:'date':true">
            <td>
              <a ng-href="#/expense/{{expense._id}}">{{expense.description}}</a>
            </td>
            <td>
              <span ng-href="#/expense/{{expense._id}}">{{expense.category }}</span>
            </td>
            <td>
              <span ng-href="#/expense/{{expense._id}}">£{{expense.amount }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
