<div class = "row">
    <div class="col-md-12">
        <h2>
			Remaining budget
		</h2>
	</div>
</div>	
<div class = "row">
    <div class="col-md-12">
		<canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options" chart-colors="colours"></canvas>
	</div>
</div>